$main: #e0d8b3;
$red: #b82525;

.reveal {
  background-color: #332F2B;
  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }

    h1, h2, h3, h4, h5, & {
      color: $main;
    }

    ul:not(.ct-legend) {
      list-style: none;
      margin: 0;

      li:before {
        content: "-";
        color: $red;
        position: relative;
        left: -25px;
      }

      li {
        padding-bottom: 15px;
      }
    }

    #info {
      padding-top: 100px;
      h3 {
        padding-bottom: 50px;
      }
      .social {
        padding-right: 120px;
        display: flex;
        &>div {
          flex: 50%;
          display: flex;
          align-items: center;
        }
      }
      .twitter {
        img {
          width: 60px;
          padding-right: 10px;
          opacity: 0.9;
        }
        justify-content: flex-end;
        padding-right: 50px;
      }
      .wrike {
        justify-content: flex-start;
        a {
          padding-right: 10px;
        }
        img {
          width: 60px;
          padding-right: 10px;
          opacity: 0.9;
        }

      }

      img.small-logo {
        width: 50px;
        margin: 0;
        vertical-align: middle;
        border-radius: 0;
        padding-right: 5px;
      }

      a {
        color: $main;
      }
    }

    code {
      font-size: 1.5em;
      line-height: 1.2em;
      overflow: hidden;
      font-family: Menlo, monospace;
      max-height: 1000px;
      background-color: #191919;
    }

    pre {
      box-shadow: none;
    }

    .neon {
      color: #f3fffd;
      font-family: neoneonregular, monospace;
      -webkit-animation: neon 1.5s ease-in-out infinite alternate;
      -moz-animation: neon 1.5s ease-in-out infinite alternate;
      animation: neon 1.5s ease-in-out infinite alternate;
      font-size: 5em;
      padding-top: 70px;
      text-align: center;
      margin-top: -60px;
      text-decoration: none;
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .news-paper {
      img {
        -webkit-box-shadow: 3px -4px 19px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px -4px 19px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px -4px 19px 0px rgba(0, 0, 0, 0.75);
      }
      height: 700px;
      position: relative;
    }


    .chart {
       $first: #A9635B;
       $second: #24B086;
       $third: #D5A976;

      .ct-label {
        color: #D7C8BE;
      }

      .ct-grid {
        stroke: #82766A;
      }

      .ct-series-a .ct-line {
        stroke: $first;
      }

      .ct-series-b .ct-line {
        stroke: $second;
      }

      .ct-series-c .ct-line {
        stroke: $third;
      }

      .ct-legend {
        position: relative;
        z-index: 10;
        list-style-type: none;

        li {
          position: relative;
          padding-left: 25px;
          margin-bottom: 3px;
          display: inline-block;
          margin-right: 23px;
        }

        li:before {
          width: 12px;
          height: 12px;
          position: absolute;
          left: 0;
          content: '';
          border: 3px solid transparent;
          border-radius: 2px;
        }

        li.inactive:before {
          background: transparent;
        }

        &.ct-legend-inside {
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      &.line-chart {
        .ct-legend {
          & .ct-series-0:before {
            background-color: $first;
            border-color: $first;
          }
          & .ct-series-1:before {
            background-color: $second;
            border-color: $second;
          }
          & .ct-series-2:before {
            background-color: $third;
            border-color: $third;
          }
        }
      }
    }
  }
  div.slide-background.present[data-background-hash="img/atomic.jpgnullimg/atomic.jpgnullnullnullnullnullnullnull"] {
    opacity: 0;
    animation: fadein 5s forwards;
  }
}

#credits {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;

  &, a, a:visited, a:hover {
    color: rgba(0, 0, 0, 0.56);
    text-decoration: none;

  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
